# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/
env/

# IDE settings
.vscode/
.idea/


# OS files
.DS_Store
Thumbs.db


# Ruff
.ruff_cache/
